* {
    margin: 0;
    max-width: 100%;
}

.header1-flex, .header2-flex, .header3-flex {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 15px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.02));
    font-family: arial;
    font-size: 14px;
    font-weight: 500;
}

.header2-flex {
    background-image: linear-gradient(to bottom, rgba(31, 27, 93, 0.909), rgba(72, 79, 227, 0.02));
}

.header3-flex {
    background-image: linear-gradient(to bottom, rgba(91, 152, 164, 0.522), rgba(91, 152, 164, 0.02));
}

.contactinfo-flex {
    display: flex;
    flex-direction: row;
    position: relative;
}

.contact-info {
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.media-icons {
    position: absolute;
    right: 20px;
    transition: 0.15s ease;
}

.media-icons a {
    font-size: 32px;
    color: antiquewhite;
    padding-right: 15px;
}

.media-icons a i {
    transition: 0.15s ease;
}

.media-icons a i:hover {
    transform: scale(1.2);
}

.media-icons a:not(:last-child) {
    margin-bottom: 15px;
}

.menu-flex {
    display: flex;
    flex-direction: row;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: transparent;
    justify-content: space-between;
    color: antiquewhite;
    height: 75px;
    align-items: start;
    min-width: 600px;
    padding-left: 30px;
}

.menu a {
    width: 60px;
    padding-right: 25px;
    text-decoration: none;
    font-family: arial;
    color: antiquewhite;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    background-color: transparent;
    color: antiquewhite;
    margin-top: 100px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 250px;
    min-width: 600px;
}

.home-grid h1 {
    font-size: 2.2em;
    font-family: playwrite;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
    line-height: 60px;
    color: antiquewhite;
}

.home-grid h1 span {
    font-family: playwrite;
    font-size: 1.2em;
    font-weight: 600;
}

.home-grid p {
    font-family: arial;
    font-size: 18px;
}

.aboutus-flex {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.09), black);
    position: relative;
    padding: 80px 20px;
    color: antiquewhite;
}

.aboutus-flex h2 {
    font-size: 36px;
    font-family: Arial;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 35px;
}

.about-flex p {
    font-family: arial;
    font-size: 20px;
}

.content {
    background-color: black;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: antiquewhite;
    line-height: 40px;
    padding: 100px 20px;
}

.contact-flex {
    position: relative;
    padding: 100px 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

.contact-flex h2 {
    text-align: center;
    color: antiquewhite;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    color: antiquewhite;
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: black;
}

.gallery {
    position: relative;
    display: block;
    background-color: lightslategray;
    padding: 80px 20px 20px;
}

.gallery h1 {
    color: antiquewhite;
    text-align: center;
}

.realestate, .event, .filmprod {
    position: relative;
    background-color: lightslategray;
    padding: 20px;
}

.realestate h2, .event h2, .filmprod h2 {
    color: antiquewhite;
    padding-left: 20px;
    padding-bottom: 35px;
}

.realestateimages, .eventimages, .filmprodimages {
    position: relative;
    background-color: lightslategray;
    padding-bottom: 20px;
}

.realestateimages p, .eventimages p, .filmprodimages p {
    font-family: arial;
    font-size: 16px;
    color: antiquewhite;
    padding-left: 20px;
}

.realestateimages-flex, .eventimages-flex, .filmprodimages-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    padding-bottom: 20px;
}

.realestateimage1, .realestateimage2, .eventimage1, .eventimage2, .filmprodimage1, .filmprodimage2 {
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.review {
    position: relative;
    display: block;
    background-color: black;
    padding: 150px 20px 100px;
}

.review h1 {
    color: antiquewhite;
    text-align: center;
    padding-bottom: 100px;
}

.reviews-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
    padding: 0 20px 160px;
    column-gap: 20px;
}

.review-grid {
    font-size: 14px;
    color: antiquewhite;
    background-color: lightslategray;
    border-radius: 12px;
}

.review-grid p {
    padding-bottom: 200px;
    padding: 12px;
    color: black;
}

.review-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}

.review-flex .username {
    font-family: arial;
    color: black;
    padding-left: 8px;
}

footer {
    background-color: #333;
    margin-top: 0;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    position: relative;
}

@media (min-width: 768px) {
    .home-grid {
        grid-template-columns: 1fr 1fr;
        padding-left: 160px;
        padding-right: 140px;
    }

    .aboutus-flex {
        padding-left: 150px;
        padding-right: 150px;
    }

    .content {
        padding-left: 150px;
        padding-right: 150px;
    }

    .realestateimages-flex, .eventimages-flex, .filmprodimages-flex {
        flex-direction: row;
    }

    .realestateimage1, .realestateimage2, .eventimage1, .eventimage2, .filmprodimage1, .filmprodimage2 {
        width: 400px;
        height: 400px;
    }

    .filmprodimage1, .filmprodimage2 {
        height: 266.17px;
    }

    .reviews-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 30px;
        position: relative;
    }
}
